.container {
    display: flex;
    flex-direction: column;
    --borderColor:#8d8d8da4;
  }

.topsection {
    height:11vh;
    border-bottom: 1px solid var(--borderColor);
}

.bottomsection {
    height: 88vh;
    display: flex;
}

.leftsidemenubottomsection {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    border-right: 1px solid var(--borderColor);        
} 

.rightmainbottomsection {
    width: 85vw;
    overflow-y: auto;
    padding: 1rem;
} 

.imageFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.lefttopsidemenu {
    border: 1px solid var(--borderColor);
}

.leftbottomslider {
    border: 1px solid var(--borderColor);
}