.imageparent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(116, 121, 116);
    width: var(--imageWidth); 
  
}
.imagestyle {
    opacity: var(--opacity);
    width:100%;
    height: 100%;
}

.imagetext {
    overflow-wrap: anywhere;
    padding: 5px;
}