input[type="range"] {
    padding: 0rem;
    width: auto;
    height: 10rem;
    font-size: 1rem;
    opacity: 1;
    left: 0;
    transform: rotate(270deg);
    /* transform-origin: left;  */
}

.sliderlabel {    
    text-align: center;
}

.sliderparent {
    border: 1px solid green;
}